@model emlakCenter.Models.ilan

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Admin/_Layaut.cshtml";
}

<h3>Bu ilanı silmek istediğinizden emin misiniz?</h3>
<div>
    <h4>İlan Bilgileri</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ilanNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ilanNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ilantarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ilantarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ilanSahibi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ilanSahibi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.takasDurum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.takasDurum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.krediyeUygunluk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.krediyeUygunluk)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            <button type="button" class="btn btn-warning" onclick="window.location.href='../Index'">
                İptal
            </button>
        </div>
    }
</div>
