@model emlakCenter.Models.arsa

@{
    ViewBag.Title = "Arsa Bilgileri";
    Layout = "~/Views/Shared/Admin/_Layaut.cshtml";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ilanNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ilanNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.il)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.il)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ilce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ilce)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.semt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.semt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.metrekare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metrekare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tapuDurumu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tapuDurumu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arsaTipi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arsaTipi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.parsel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parsel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.katKarsiligi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.katKarsiligi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ilanNumarasi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ilanNumarasi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hasResim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hasResim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hasHarita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hasHarita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hasVideo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hasVideo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
