@model Tuple<emlakCenter.Models.ilan, emlakCenter.Models.arsa>


@{
    ViewBag.Title = "Önizleme";
    Layout = "~/Views/Shared/Admin/_Layaut.cshtml";
}

<div class="row">
    <div class="col-xs-6">
        <div class="box">
            <div class="box-header">
                <h3>İlan</h3>
            </div>

            <div class="box-body table-responsive">
                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Item1.ilanSahibi)</td>
                            <td>@Html.DisplayFor(model => model.Item1.ilanSahibi)</td>
                        </tr>

                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Item1.krediyeUygunluk)</td>
                            <td>@Html.DisplayFor(model => model.Item1.krediyeUygunluk)</td>
                        </tr>

                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Item1.takasDurum)</td>
                            <td>@Html.DisplayFor(model => model.Item1.takasDurum)</td>
                        </tr>

                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Item1.tip)</td>
                            <td>@Html.DisplayFor(model => model.Item1.tip)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-xs-6">
        <div class="box">
            <div class="box-header">
                <h3>@Html.DisplayFor(model => model.Item1.tip)</h3>
            </div>

            <div class="box-body table-responsive">
                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Item2.il)</td>
                            <td>@Html.DisplayFor(model => model.Item2.il)</td>
                        </tr>

                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Item2.ilce)</td>
                            <td>@Html.DisplayFor(model => model.Item2.ilce)</td>
                        </tr>

                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Item2.semt)</td>
                            <td>@Html.DisplayFor(model => model.Item2.semt)</td>
                        </tr>

                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Item2.metrekare)</td>
                            <td>@Html.DisplayFor(model => model.Item2.metrekare)</td>
                        </tr>

                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Item2.fiyat)</td>
                            <td>@Html.DisplayFor(model => model.Item2.fiyat)</td>
                        </tr>

                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Item2.tapuDurumu)</td>
                            <td>@Html.DisplayFor(model => model.Item2.tapuDurumu)</td>
                        </tr>

                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Item2.arsaTipi)</td>
                            <td>@Html.DisplayFor(model => model.Item2.arsaTipi)</td>
                        </tr>

                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Item2.parsel)</td>
                            <td>@Html.DisplayFor(model => model.Item2.parsel)</td>
                        </tr>

                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Item2.ada)</td>
                            <td>@Html.DisplayFor(model => model.Item2.ada)</td>
                        </tr>

                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Item2.katKarsiligi)</td>
                            <td>@Html.DisplayFor(model => model.Item2.katKarsiligi)</td>
                        </tr>

                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Item2.aciklama)</td>
                            <td>@Html.DisplayFor(model => model.Item2.aciklama)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="float:right">
            <button type="button" class="btn btn-danger" onclick="window.location.href='ilanIptal'">
                İptal
            </button>
            <button type="button" class="btn btn-success" onclick="window.location.href = 'IlanKayit'">
                İlanı Kaydet
            </button>
        </div>
    </div>
</div>