@using emlakCenter.Models
@model emlakCenter.Models.QueryModel
@{
    systemDB db = new systemDB();
    var il = db.iller.ToList();
    db.Dispose();
}

@using (Ajax.BeginForm("getSearchResults", "home", new AjaxOptions
{
    UpdateTargetId = "e-right",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "post"
}))
{


    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Konum
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <select id="ilSecimi" name="il" class="form-control">
                        <option>İl Seçiniz</option>
                        @foreach (var item in il)
                        {
                            <option value="@item.Id">@item.il_adi</option>
                        }
                    </select>
                    <select id="ilceSecimi" name="ilce" class="form-control">
                        <option>İlçe Seçiniz</option>
                    </select>
                    <select id="semtSecimi" name="semt" class="form-control">
                        <option>Semt Seçiniz</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        Metrekare (m2)
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <!--<input type="text" name="metrekare-start" class="form-control metrekare" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />-->
                    @Html.TextBoxFor(model => Model.metrekareStart, new { @class = "form-control metrekare", onkeypress = "return event.charCode >= 48 && event.charCode <= 57" })
                    <!--<input type="text" name="metrekare-end" class="form-control metrekare" style="margin-left:10%;" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />-->
                    @Html.TextBoxFor(model => Model.metrekareEnd, new { @class = "form-control metrekare", style = "margin-left:10%;", onkeypress = "return event.charCode >= 48 && event.charCode <= 57" })
                </div>
            </div>
        </div>
    </div>

    <div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion3" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        Fiyat Aralığı (₺)
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <!--<input type="text" name="fiyat-start" class="form-control metrekare" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />-->
                    @Html.TextBoxFor(model => Model.fiyatStart, new { @class = "form-control metrekare", onkeypress = "return event.charCode >= 48 && event.charCode <= 57" })
                    <!--<input type="text" name="fiyat-end" class="form-control metrekare" style="margin-left:10%;" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />-->
                    @Html.TextBoxFor(model => Model.fiyatEnd, new { @class = "form-control metrekare", style = "margin-left:10%;", onkeypress = "return event.charCode >= 48 && event.charCode <= 57" })
                </div>
            </div>
        </div>
    </div>


    <div class="panel-group" id="accordion4" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion4" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        Tapu Durumu
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <ul style="list-style-type:none; padding-left:0px">
                        <li><input name="tapu-1" class="e-checkbox" type="checkbox"> Tapu durumu</li>
                        <li><input name="tapu-2" class="e-checkbox" type="checkbox"> Tapu durumu</li>
                        <li><input name="tapu-3" class="e-checkbox" type="checkbox"> Tapu durumu</li>
                        <li><input name="tapu-4" class="e-checkbox" type="checkbox"> Tapu durumu</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-group" id="accordion5" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion5" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                        Multimedya
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <ul style="list-style-type:none; padding-left:0px">
                        <li>@Html.CheckBoxFor(model=>Model.resim,new {@class="e-checkbox",type="checkbox"}) Resim</li>
                        <li>@Html.CheckBoxFor(model => Model.video, new { @class = "e-checkbox", type = "checkbox" }) Video</li>
                        <li>@Html.CheckBoxFor(model => Model.harita, new { @class = "e-checkbox", type = "checkbox" }) Harita</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-group" id="accordion6" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion6" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                        İlan Tarihi
                    </a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    @Html.TextBoxFor(model => Model.tarih, new { @class="bas_time form-control"})
                </div>
            </div>
        </div>
    </div>

    <div class="panel-group" id="accordion7" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion7" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                        Kelime(ler) İle Arama
                    </a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    @Html.TextBoxFor(model => Model.keyword, new { @class="form-control"})
                </div>
            </div>
        </div>
    </div>

    <div class="panel-group" id="accordion8" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <button type="submit" class="btn btn-danger">Filtrele</button>
                </h4>
            </div>
        </div>
    </div>

}