<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/date")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="e-nav">
        <div class="e-container">
            <div class="e-logo">
                <a href="#">
                    <img src="~/Content/img/e-logo.png" />
                </a>
            </div>
            <div class="e-ara">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Ara">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Ara!</button>
                    </span>
                </div>
            </div>
            <div class="e-iletisim">
                <ul class="list-unstyled">
                    <li>
                        <span class="glyphicon glyphicon-phone-alt"></span>
                        0 555 555 55 55
                    </li>
                    <li><span class="glyphicon glyphicon-envelope"></span> admin@emlakcenter.com</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="e-container clearfix">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/unob")
    @Scripts.Render("~/bundles/jqueryeval")
    @Scripts.Render("~/bundles/date")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
                        $(function () {
                            $('.dp').datepicker();;
                        });
    </script>
</body>
</html>
