@model IEnumerable<emlakCenter.Models.ilan>

@{
    ViewBag.Title = "Ilan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div id="details">
        <div class="resim">
            <img class="ilkResim" src="~/Content/img/ilan-resim/resim-1.jpg" />
            <img class="kucukResimler" src="~/Content/img/ilan-resim/resim-1.jpg" />
            <img class="kucukResimler" src="~/Content/img/ilan-resim/resim-1.jpg" />
            <img class="kucukResimler" src="~/Content/img/ilan-resim/resim-1.jpg" />
            <img class="kucukResimler" src="~/Content/img/ilan-resim/resim-1.jpg" />
            <img class="kucukResimler" src="~/Content/img/ilan-resim/resim-1.jpg" />
            <img class="kucukResimler" src="~/Content/img/ilan-resim/resim-1.jpg" />
        </div>
        <div class="aciklama">
            <div role="tabpanel">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#detaylar" aria-controls="home" role="tab" data-toggle="tab">Detaylar</a></li>
                    <li role="presentation"><a href="#harita" aria-controls="harita" role="tab" data-toggle="tab">Harita</a></li>
                    <li role="presentation"><a href="#iletisim" aria-controls="iletisim" role="tab" data-toggle="tab">İletişim</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="detaylar">detay</div>
                    <div role="tabpanel" class="tab-pane" id="harita">harita</div>
                    <div role="tabpanel" class="tab-pane" id="iletisim">iletişim</div>
                </div>

            </div>
        </div>
    </div>
@*@foreach (var item in Model)
{
    @item.ilanNo
    <br />
    @item.ilanSahibi
    <br />
    @item.ilantarihi
    <br />
    @item.ilanTuru
    <br />
    @item.takasDurum
}*@


